{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent()}} Liste des commandes et des envois d'échantillon
{% endblock %}

{% block entete_page %}
<div class="wrapper">
	<section id="breadcrumb" class="hoc clear"> 
		<!-- ################################################################################################ -->
		<ul>
		    <li><a href="#">Page d'accueil</a></li>
		    <li><a href="#">Liste des commandes et des envois d'échantillon</a></li>
	  	</ul>
	  	<!-- ################################################################################################ -->
	  	<h6 class="heading">Produit : {{leProduit.LibelleProduit}}</h6>
	  	<!-- ################################################################################################ -->
	</section>
</div>         
{% endblock %}

{% block body %}
<div class="content three_quarter">

  <h1>Toutes les Commandes</h1>
  <div class="scrollable">
    <table>
      <thead>
        <tr>
          <th>Date de la Commande</th>
          <th>Date de livraison shouaitée</th>
        </tr>
      </thead>
      <tbody>
      	{% for com in lesCommandes %}
        <tr>
          <td><a href="{{ path('gest_veterinaire_aff_unecommande', {'id':com.id}) }}">{{com.LaCommande.DateCommande|date("d/m/Y")}}</a></td>
          <td><a href="{{ path('gest_veterinaire_aff_unecommande', {'id':com.id}) }}">{{com.LaCommande.DateLivraisonSouhaitee|date("d/m/Y")}}</a></td>
        </tr>
        {% else %}
        <tr>
          <td>Actuellement aucune</td>
          <td>Commande Enregistrée</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h1>Tous les envois d'échantillon</h1>
  <div class="scrollable">
    <table>
      <thead>
        <tr>
          <th>Date de la demande d'envoi</th>
          <th>Date de la livraison</th>
          <th>Nombre d'échantillons envoyés</th>
        </tr>
      </thead>
      <tbody>
      	{% for envoiEchantillon in lesEE %}
        <tr>
          <td><a href="{{ path('gest_veterinaire_aff_unEnvoiEchantillon', {'id':envoiEchantillon.id}) }}">{{envoiEchantillon.DateDemande|date("d/m/Y")}}</a></td>
          <td><a href="{{ path('gest_veterinaire_aff_unEnvoiEchantillon', {'id':envoiEchantillon.id}) }}">{{envoiEchantillon.DateLivraison|date("d/m/Y")}}</a></td>
          <td><a href="{{ path('gest_veterinaire_aff_unEnvoiEchantillon', {'id':envoiEchantillon.id}) }}">{{envoiEchantillon.QteLivree}}</a></td>
        </tr>
        {% else %}
        <tr>
          <td>Actuellement Aucun</td>
          <td>Envoi d'échantillon</td>
          <td>Enregistré</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}